.trustedBy {
    background-color: #ecf1f3;
    height: 100px;
    // width: 1000px;
    display: flex;
    justify-content: center;

    .container {
        max-width: 760px;
        display: flex;
        align-items: center;
        gap: 20px;
        color: rgb(32, 30, 30);
        font-weight: 500;

        img {
            height: 50px;
            object-fit: contain;
        }
    }
}
